<h1>Oregano</h1>

<section>
  <h1>New Set</h1>
  <form method=post action=/sets>
    <label>Name: <input type=text name=name /></label>
    <input type=submit />
    <input type=hidden name=<%= request_forgery_protection_token %> value=<%= form_authenticity_token %> />
  </form>
</section>

<section>
  <h1>New Entry</h1>
  <form method=post action=/entries>
    <label>
      List:
      <select name=set>
        <% @sets.each do |set| %>
          <option><%= set %></option>
        <% end %>
      </select>
    </label>
    <label>Entry: <input type=text name=content /></label>
    <input type=submit />
    <input type=hidden name=<%= request_forgery_protection_token %> value=<%= form_authenticity_token %> />
  </form>
</section>

<% @entries.each do |k,v| %>
  <article>
    <h1><%= k %></h1>
    <ul>
      <% v.each do |a| %>
        <li><%= a %>
      <% end %>
    </ul>
  </article>
<% end %>
